.arrangeBox {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.arrangeBox p {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 30%;
    font-size: 1.4rem;
}

 .arrangeBox button {
     height: 4vh;
     width: 8vw;
     border: solid 1px grey;
     background: white;
     font-size: 1.4rem;
 }

 .arrangeBox .selected {
     border: solid 1px #003eb3;
     background: #4096ff;
 }

 .arrangeBox button:hover {
     border: solid 1px #003eb3;
     background: #4096ff;
 }