.adminBtn {
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
}

.arrangeBox{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 100%;
    text-align: center;
    width: 25%;
}

.arrangeBox span{
    display: flex;
    align-items: center;
    height: 90%;
    font-size: 1.4rem;
    
}

.adminBtn button {
    height: 90%;
    width: 8vw;
    border: solid 2px grey;
    background: white;
    font-size: 1.4rem;
}

.adminBtn .selected {
    border: solid 2px #003eb3;
    background: #4096ff;
}

.adminBtn button:hover {
    border: solid 2px #003eb3;
    background: #4096ff;
}