.tableBox {
    border-top: solid 2px black;
    height: 90%;
}

.table thead tr th {
    text-align: center !important;
}

.table td,
.table th {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 !important;
    height: 7.25vh !important;
}

.special-row{
    color: #003eb3;
    font-weight: 700;
    background-color: #FAFAFA;
}