.box{
    width: 100%;
    height: 100%;
    background-color: pink;
    overflow: scroll;
}
.box::-webkit-scrollbar {
    display: none
}


table { border-collapse: collapse;}
table,table tr th, table tr td { border:1px solid #000000; }
